###
### .gitignore for DarkCube project
###

# ================================================================================
# OS X
# ================================================================================

.AppleDB/
.AppleDesktop/
.AppleDouble/
.Spotlight-V100/
.Trashes/
Network Trash Folder/
Temporary Items/

.DS_Store
.LSOverride
._*
.apdisk


# ================================================================================
# Windows
# ================================================================================

$RECYCLE.BIN/

Desktop.ini
Thumbs.db
ethumbs.db


# ================================================================================
# Node
# ================================================================================

node_modules/


# ================================================================================
# Python
# ================================================================================

*.egg-info/
*.egg/
.tox/
__pycache__/
build/
dist/
htmlcov/

*.mo
*.pyc
*.pyd
*.pyo
.Python
.cache
.coverage
.installed.cfg
coverage.xml
pip-delete-this-directory.txt
pip-log.txt


# ================================================================================
# Django
# ================================================================================

*.log
*.pot
*.sqlite3
00*.py


# ================================================================================
# Vagrant
# ================================================================================

.vagrant/


# ================================================================================
# DarkCube
# ================================================================================

temporary/

.envrc
celerybeat*
env*
