{% load compress %}
{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DarkCube</title>
    {% compress css %}
      <link rel="stylesheet" href="{% static 'yeti/bootstrap.min.css' %}">
    {% endcompress %}
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">DarkCube</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- /navbar -->

    <!-- content -->
    <div class="container">
      {% block content %}
        <div class="page-header">
          <h1>darkcube/apps/common/layout.html</h1>
        </div>
        <div class="col-md-12">
          <div class="alert alert-info">
            <b>TODO</b>: overwrite `content` block
          </div>
        </div>
      {% endblock %}
    </div>
    <!-- /content -->

    <!-- js -->
    {% compress js %}
      <script src="{% static 'jquery/jquery.min.js' %}"></script>
      <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    {% endcompress %}
    <!-- /js -->
  </body>
</html>
